@model Articulos.Entities.Comentario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Comentario</h2>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @*@Html.Hidden("Articulo_id", ViewData["Articulo_id"])*@
    <div class="form-horizontal">
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contenido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contenido, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Contenido, "", new { @class = "text-danger" })
            </div>
        </div>
        
       

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    @*<a href="~/Articulos/Details/@Model.Id"> Atras </a>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
